$enable-important-utilities:false;
$enable-gradients:true;
$enable-responsive-font-sizes: true;

$part: linear-gradient(302.79deg, #A61E2E -88.03%, #FFD2E3 123.27%);

$spacers:(
    minus:-3px,
    0: 0px,
    1: 1px,
    2: 0.125rem,
    3: 0.25rem,
    4: 0.375rem,
    5: 0.5rem,
    6: 0.625rem,
    7: 0.75rem,
    8: 0.88rem,
    9: 1rem,
    10: 1.1rem,
    11: 1.5rem,
    12: 1.75rem,
    13: 2rem,
    14: 2.25rem,
    15: 2.5rem,
    16: 2.75rem,
    17: 3rem,
    18: 3.5rem,
    19: 4rem,
    drop:4.6rem,
    20: 5rem,
    21: 6rem,
    22: 7rem,
    23: 8rem,
    24: 9rem,
    25: 10rem,
    26: 11rem,
    27: 12rem,
    28: 13rem,
    29: 14rem,
    30: 15rem,
    31: 16rem,
    32: 18rem,
    33: 22rem,
    34: 23rem,
    35: 25rem,
    36: 33rem,
    37: 36rem,
    38: 40rem,
    39: 48rem,
    40: 54rem,
    41:68rem,
    status:27.5vmax,
    fifty:50%,
    full: 100%,
    75:75vh,
    80:80vh,
    83:83vh,
    90:90vh,
    100:100vh,
    auto:auto
);

$colors:(
tp: transparent,
black-100:rgb(31, 31, 31),
black: rgba(0, 0, 0, 1),
trans-black: rgba(7, 5, 14, 0.7),
white-100: rgba(255, 255, 255,1),
gray-50: rgba(249, 250, 251, 1),	
gray-100: rgba(243, 244, 246, 1),
gray-150:rgb(240, 240, 240),
gray-200: rgba(229, 231, 235, 1),	
gray-300: rgba(209, 213, 219, 1),
gray-400: rgba(156, 163, 175, 1),	
gray-500: rgba(107, 114, 128, 1),	
gray-600: rgba(75, 85, 99, 1),
gray-700: rgba(55, 65, 81, 1),	
gray-800: rgba(31, 41, 55, 1),	
gray-900: rgba(17, 24, 39, 1),	
red-50: rgba(254, 242, 242, 1),	
red-100: rgba(254, 226, 226, 1),	
red-200: rgba(254, 202, 202, 1),	
red-300: rgba(252, 165, 165, 1),	
red-400: rgba(248, 113, 113, 1),	
red-500: rgba(239, 68, 68, 1),	
red-600: rgba(220, 38, 38, 1),	
red-700: rgba(185, 28, 28, 1),	
red-800: rgba(153, 27, 27, 1),	
red-900: rgba(127, 29, 29, 1),	
yellow-50: rgba(255, 251, 235, 1),	
yellow-100: rgba(254, 243, 199, 1),	
yellow-200: rgba(253, 230, 138, 1),	
yellow-300: rgba(252, 211, 77, 1),	
yellow-400: rgba(251, 191, 36, 1),	
yellow-500: rgba(245, 158, 11, 1),	
yellow-600: rgba(217, 119, 6, 1),	
yellow-700: rgba(180, 83, 9, 1),	
yellow-800: rgba(146, 64, 14, 1),	
yellow-900: rgba(120, 53, 15, 1),	
green-50: rgba(236, 253, 245, 1),	
green-100: rgba(209, 250, 229, 1),	
green-200: rgba(167, 243, 208, 1),	
green-300: rgba(110, 231, 183, 1),	
green-400: rgba(52, 211, 153, 1),	
green-500: rgba(16, 185, 129, 1),	
green-600: rgba(5, 150, 105, 1),	
green-700: rgba(4, 120, 87, 1),	
green-800: rgba(6, 95, 70, 1),	
green-900: rgba(6, 78, 59, 1),	
blue-50: rgba(239, 246, 255, 1),
blue-100: rgba(219, 234, 254, 1),	
blue-200: rgba(191, 219, 254, 1),	
blue-300: rgba(147, 197, 253, 1),	
blue-400: rgba(96, 165, 250, 1),	
blue-450: rgb(0, 183, 255),
blue-500: rgba(59, 130, 246, 1),	
blue-600: rgba(37, 99, 235, 1),	
blue-700: rgba(29, 78, 216, 1),	
blue-800: rgba(30, 64, 175, 1),	
blue-900: rgba(30, 58, 138, 1),	
indigo-50: rgba(238, 242, 255, 1),	
indigo-100: rgba(224, 231, 255, 1),	
indigo-200: rgba(199, 210, 254, 1),	
indigo-300: rgba(165, 180, 252, 1),	
indigo-400: rgba(129, 140, 248, 1),	
indigo-500: rgba(99, 102, 241, 1),	
indigo-600: rgba(79, 70, 229, 1),	
indigo-700: rgba(67, 56, 202, 1),	
indigo-800: rgba(55, 48, 163, 1),	
indigo-900: rgba(49, 46, 129, 1),	
purple-50: rgba(245, 243, 255, 1),	
purple-100: rgba(237, 233, 254, 1),	
purple-200: rgba(221, 214, 254, 1),	
purple-300: rgba(196, 181, 253, 1),	
purple-400: rgba(167, 139, 250, 1),	
purple-500: rgba(139, 92, 246, 1),	
purple-600: rgba(124, 58, 237, 1),	
purple-700: rgba(109, 40, 217, 1),	
purple-800: rgba(91, 33, 182, 1),	
purple-900: rgba(76, 29, 149, 1),	
pink-50: rgba(253, 242, 248, 1),
pink-100: rgba(252, 231, 243, 1),	
pink-200: rgba(251, 207, 232, 1),	
pink-300: rgba(249, 168, 212, 1),	
pink-350: rgba(201, 132, 157, 1),
pink-400: rgba(244, 114, 182, 1),	
pink-500: rgba(236, 72, 153, 1),
pink-600: rgba(219, 39, 119, 1),	
pink-700: rgba(190, 24, 93, 1),	
pink-800: rgba(157, 23, 77, 1),	
pink-900: rgba(131, 24, 67, 1),
);
$pink: rgb(196, 196, 196);

$fw:(
100:100,
200:200,
300:300,
400:400,
500:500,
600:600,
700:700,
800:800,
900:900
);

$bg:(
    1:url(~@/assets/logo.svg),
    2:url(~@/assets/profile.svg),
    3:url(~@/assets/pass.svg),
    4:url(~@/assets/BE.png),
    5:url(~@/assets/vector-close.svg),
    6:url(~@/assets/vector-open.svg),
    7:url(~@/assets/notify.svg),
    8:url(~@/assets/log-out.svg),
    9:url(~@/assets/menu.svg),
    10:url(~@/assets/bell.svg),
    11:url(~@/assets/person.svg),
    12:url(~@/assets/search.svg), 
    13:url(~@/assets/arrow1.svg), 
    14:url(~@/assets/arrow2.svg),
    15:url(~@/assets/add.svg),
    16:url(~@/assets/i.svg),
    17:url(~@/assets/hours.svg),
    18:url(~@/assets/send.svg),
    19:url(~@/assets/doc.svg),
    20:url(~@/assets/xls.svg),
    21:url(~@/assets/calendar.svg),
    22:url(~@/assets/message.svg),
    23:url(~@/assets/phone.svg),
    24:url(~@/assets/pinkprof.svg),
    25:url(~@/assets/close.svg),
    26:url(~@/assets/mess.svg),
    27:url(~@/assets/file.svg),
    28:url(~@/assets/italic.svg),
    29:url(~@/assets/underline.svg),
    30:url(~@/assets/bold.svg),
    31:url(~@/assets/error.svg),
    32:url(~@/assets/alert.svg),
    33:url(~@/assets/warning.svg),
    34:url(~@/assets/trash.svg),
    35:url(~@/assets/wheit-search.svg),
    36:url(~@/assets/ring.svg),
    37:url(~@/assets/passport.svg),
    38:url(~@/assets/word.svg),
    39:url(~@/assets/excel.svg),
    40:url(~@/assets/good.svg),
    41:url(~@/assets/update.svg),
    42:url(~@/assets/plus.svg),
    43:url(~@/assets/send-changes.svg),
    44:url(~@/assets/completed-task.svg),
    45:url(~@/assets/loading-bar.svg),
);
$bg-position:(
    center:center,
    right:right,
);